*~
*.aps
*.vcxproj.user
*.idb
*.pdb
*.sarif
*.DVL.XML
/.vs
x64
ARM64
Win32
Debug
Release
/packages
/bin/usbip-*.*
/userspace/resources/messages.h
/userspace/resources/messages.rc
/userspace/resources/MSG*.bin
/userspace/wusbip/vcpkg_installed
