*~
*.aps
*.vcxproj.user
*.idb
*.pdb
*.sarif
*.DVL.XML
/.vs
x64
ARM64
/packages
/bin/usbip-*.*
/userspace/resources/messages.h
/userspace/resources/messages.rc
/userspace/resources/MSG*.bin
/userspace/pyusbip/usbip.py
/userspace/pyusbip/usbip_wrap.cpp
/userspace/wusbip/vcpkg_installed
